#start{

    background: orangered;
}

#start h1{
    text-align: center;
    padding: 20px;
    color: #fff;
}

*{
    box-sizing: border-box;
}

body{
    font-size: 18px;
}

.container {
    margin: 20px auto;
    width: 1200px;
}

.container .color-switcher{
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
}

.container .color-switcher li{
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
}

.container .color-switcher li:first-child{
    background: #c0395b;
}
.container .color-switcher li:nth-child(2){
    background: #16a085;
}
.container .color-switcher li:nth-child(3){
    background: #8e44ad;
}
.container .color-switcher li:nth-child(4){
    background: #2c3e50;
}

.container h3{
    color: #c0362b;
}

.container div{
    background: #c0392b;
    padding: 20px;
    color: #fff;
}

.red .container h3{
    color: #c0392b;
}

.red .container div{
    background: #c0392b;
    padding: 20px;
    color: #fff;
}
.green .container h3{
    color: #16a085;
}

.green .container div{
    background: #16a085;
    padding: 20px;
    color: #fff;
}
.purple .container h3{
    color: #8e44ad;
}

.purple .container div{
    background: #8e44ad;
    padding: 20px;
    color: #fff;
}
.black .container h3{
    color: #2c3e50;
}

.black .container div{
    background: #2c3e50;
    padding: 20px;
    color: #fff;
}